*.nes
*.State
*.cdl
*.o
*.log
__pycache__/
*.pyc
rom/
prg/
chr/*.bin
chr/sheets/
disasm/
build/
src/*.s
notes/shots*/
notes/*.png
notes/*.nt
notes/*.State
tools/cc65/
script/*
!script/script.en.txt
notes/prof/
notes/script_bank*.txt
notes/drive_*.txt
*.hex
*.lua
