# MMC1, 8 x 16 KB PRG (banks 0-6 at $8000, fixed bank 7 at $C000), 128 KB CHR
MEMORY {
    HDR:  start = $0000, size = $0010, file = %O, fill = yes;
    PRG0: start = $8000, size = $4000, file = %O, fill = yes;
    PRG1: start = $8000, size = $4000, file = %O, fill = yes;
    PRG2: start = $8000, size = $4000, file = %O, fill = yes;
    PRG3: start = $8000, size = $4000, file = %O, fill = yes;
    PRG4: start = $8000, size = $4000, file = %O, fill = yes;
    PRG5: start = $8000, size = $4000, file = %O, fill = yes;
    PRG6: start = $8000, size = $4000, file = %O, fill = yes;
    PRG7: start = $C000, size = $4000, file = %O, fill = yes;
    CHR:  start = $0000, size = $20000, file = %O, fill = yes;
}
SEGMENTS {
    HEADER: load = HDR,  type = ro;
    BANK0:  load = PRG0, type = ro;
    BANK1:  load = PRG1, type = ro;
    BANK2:  load = PRG2, type = ro;
    BANK3:  load = PRG3, type = ro;
    BANK4:  load = PRG4, type = ro;
    BANK5:  load = PRG5, type = ro;
    BANK6:  load = PRG6, type = ro;
    BANK7:  load = PRG7, type = ro;
    CHR:    load = CHR,  type = ro;
}
